.row-container{
    margin-left: 20px;
    color:#fff;
}
.row-cards{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.movie-image{
    width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
    transition: transform 450ms;
}
.movie-image:hover{
    transform: scale(1.08);
}